.card {
  
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-title {
  
}

.card-price {
display: flex;
border-top: 0.5px solid #8A857B;
justify-content:space-between;
  height: 40px;
  align-items: center;
  background-color:$secondary;
  
}

.card-img-left {
  width: 90%;
  object-fit: cover;
  height: 100%;
}
